* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.inicio {
    display: flex;
    padding-left: 80px;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    gap: 16px;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/capa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}