.action {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Fira Code", sans-serif;
}

.action::before {
    content: "";
    display: inline-block;
    background-color: bisque;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.action:hover {
    color: bisque;
    border-bottom: 0.1rem solid #303952;
    padding-bottom: 0.5rem;
}