.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2565AE;
    width: 100%;
    border-bottom: 10px solid black;
    z-index: 10;
}

.header .section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
